#ldc_set_port -iobuf {DRIVE=8} [get_ports led_b]
#ldc_set_port -iobuf {DRIVE=8} [get_ports uart_txd]
#ldc_set_port -iobuf {PULLMODE=100K} [get_ports rstn]
#ldc_set_port -iobuf {PULLMODE=NA DRIVE=NA} [get_ports clk]

set_io --warn-no-port led_b 40
set_io --warn-no-port led_g 39
set_io --warn-no-port led_r 41
set_io --warn-no-port rstn 10
set_io --warn-no-port clk 35
set_io --warn-no-port uart_rxd 27
set_io --warn-no-port uart_txd 25
set_io --warn-no-port us_trig 28
set_io --warn-no-port us_echo 31
set_io --warn-no-port pwm_mot1[1] 44
set_io --warn-no-port pwm_mot1[0] 45
set_io --warn-no-port pwm_mot2[1] 46
set_io --warn-no-port pwm_mot2[0] 47
set_io --warn-no-port quad1[1] 36
set_io --warn-no-port quad1[0] 38
set_io --warn-no-port quad2[1] 42
set_io --warn-no-port quad2[0] 43
set_frequency clk 12
