//
// Written by Synplify Pro 
// Product Version "V-2023.09LR-2"
// Program "Synplify Pro", Mapper "map202309lat, Build 228R"
// Sat Mar 22 21:01:21 2025
//
// Source file index table:
// Object locations will have the form <file>:<line>
// file 0 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/std.vhd "
// file 1 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/snps_haps_pkg.vhd "
// file 2 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/std1164.vhd "
// file 3 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/numeric.vhd "
// file 4 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/umr_capim.vhd "
// file 5 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/arith.vhd "
// file 6 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/unsigned.vhd "
// file 7 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/hyperents.vhd "
// file 8 "\/home/seb/lscc/radiant/2024.2/ip/pmi/pmi_iCE40UP.vhd "
// file 9 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_pkg_array.vhd "
// file 10 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_pkg_attribute.vhd "
// file 11 "\/home/seb/lscc/radiant/2024.2/cae_library/synthesis/vhdl/iCE40UP.vhd "
// file 12 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_pkg_math.vhd "
// file 13 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/vhd/math_real.vhd "
// file 14 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_pkg_logic.vhd "
// file 15 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_reset_gen.vhd "
// file 16 "\/home/seb/ecam/robot/open-logic-main/src/intf/vhdl/olo_intf_sync.vhd "
// file 17 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_strobe_gen.vhd "
// file 18 "\/home/seb/ecam/robot/open-logic-main/src/intf/vhdl/olo_intf_uart.vhd "
// file 19 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_ram_sdp.vhd "
// file 20 "\/home/seb/ecam/robot/open-logic-main/src/base/vhdl/olo_base_fifo_sync.vhd "
// file 21 "\/home/seb/ecam/robot/rtl/top/top.vhd "
// file 22 "\/home/seb/lscc/radiant/2024.2/synpbase/lib/nlconst.dat "
// file 23 "\/home/seb/lscc/radiant/2024.2/scripts/tcl/flow/radiant_synplify_vars.tcl "
// file 24 "\/home/seb/ecam/robot/project/robot/timing.sdc "

`timescale 100 ps/100 ps
module olo_base_reset_gen_work_top_rtl_0layer0 (
  reset,
  rstn_c_i,
  clk_c
)
;
output reset ;
input rstn_c_i ;
input clk_c ;
wire reset ;
wire rstn_c_i ;
wire clk_c ;
wire [1:0] DsSync;
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)wire [0:0] DsSync_1;
wire [2:0] RstSyncChain;
wire GND ;
wire VCC ;
// @15:100
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)  FD1P3DZ \DsSync_Z[1]  (
	.Q(DsSync[1]),
	.D(DsSync_1[0]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @15:100
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)  FD1P3DZ \DsSync_Z[0]  (
	.Q(DsSync[0]),
	.D(RstSyncChain[2]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @15:82
  FD1P3BZ \RstSyncChain_Z[2]  (
	.Q(RstSyncChain[2]),
	.D(RstSyncChain[1]),
	.CK(clk_c),
	.PD(rstn_c_i),
	.SP(VCC)
);
// @15:82
  FD1P3BZ \RstSyncChain_Z[1]  (
	.Q(RstSyncChain[1]),
	.D(RstSyncChain[0]),
	.CK(clk_c),
	.PD(rstn_c_i),
	.SP(VCC)
);
// @15:82
  FD1P3BZ \RstSyncChain_Z[0]  (
	.Q(RstSyncChain[0]),
	.D(GND),
	.CK(clk_c),
	.PD(rstn_c_i),
	.SP(VCC)
);
//@15:57
  assign #(0)  reset = DsSync[1];
//@15:57
  assign #(0)  DsSync_1[0] = DsSync[0];
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* olo_base_reset_gen_work_top_rtl_0layer0 */

module \olo_base_strobe_gen_12000000.000000_460800.000000_true  (
  StateTx_0,
  N_130_0,
  TxStrobe,
  reset,
  TxSync,
  clk_c
)
;
input StateTx_0 ;
output N_130_0 ;
output TxStrobe ;
input reset ;
input TxSync ;
input clk_c ;
wire StateTx_0 ;
wire N_130_0 ;
wire TxStrobe ;
wire reset ;
wire TxSync ;
wire clk_c ;
wire [11:2] Count;
wire [11:2] Count_5;
wire un1_Count_0_i ;
wire un1_Count_0 ;
wire SyncLast_RNIOH5M7 ;
wire VCC ;
wire SyncLast ;
wire Out_Valid ;
wire un1_Countlt11_i ;
wire GND ;
wire un1_Count_cry_1_0_c_0_RNO_1 ;
wire un1_Count_cry_1_0_c_0_RNO_0_0 ;
wire un1_Count_cry_7_0_c_0_RNO_1 ;
wire un1_Count_cry_7_0_c_0_RNO_0_0 ;
wire un1_Count_cry_0_c_0_RNO ;
wire un1_Countlto8_1 ;
wire un1_Countlt8 ;
wire un1_Count_cry_8 ;
wire un1_Count_cry_6 ;
wire un1_Count_cry_4 ;
wire un1_Count_cry_2 ;
wire un1_Count_cry_0 ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
  INV un1_Count_cry_3_c_0_RNO (
	.Z(un1_Count_0_i),
	.A(un1_Count_0)
);
// @17:71
  FD1P3IZ \Count_Z[11]  (
	.Q(Count[11]),
	.D(Count_5[11]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[10]  (
	.Q(Count[10]),
	.D(Count_5[10]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[9]  (
	.Q(Count[9]),
	.D(Count_5[9]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[8]  (
	.Q(Count[8]),
	.D(Count_5[8]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[7]  (
	.Q(Count[7]),
	.D(Count_5[7]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[6]  (
	.Q(Count[6]),
	.D(Count_5[6]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[5]  (
	.Q(Count[5]),
	.D(Count_5[5]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[4]  (
	.Q(Count[4]),
	.D(Count_5[4]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[3]  (
	.Q(Count[3]),
	.D(Count_5[3]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[2]  (
	.Q(Count[2]),
	.D(Count_5[2]),
	.CK(clk_c),
	.CD(SyncLast_RNIOH5M7),
	.SP(VCC)
);
// @17:71
  FD1P3IZ SyncLast_Z (
	.Q(SyncLast),
	.D(TxSync),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @17:71
  FD1P3IZ Out_Valid_Z (
	.Q(TxStrobe),
	.D(Out_Valid),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
  LUT4 un1_Count_cry_1_0_c_0_RNO (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_1_0_c_0_RNO_1)
);
defparam un1_Count_cry_1_0_c_0_RNO.INIT="0x8888";
  LUT4 un1_Count_cry_1_0_c_0_RNO_0 (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_1_0_c_0_RNO_0_0)
);
defparam un1_Count_cry_1_0_c_0_RNO_0.INIT="0x8888";
  LUT4 un1_Count_cry_7_0_c_0_RNO (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_7_0_c_0_RNO_1)
);
defparam un1_Count_cry_7_0_c_0_RNO.INIT="0x8888";
  LUT4 un1_Count_cry_7_0_c_0_RNO_0 (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_7_0_c_0_RNO_0_0)
);
defparam un1_Count_cry_7_0_c_0_RNO_0.INIT="0x8888";
  LUT4 un1_Count_cry_0_c_0_RNO_cZ (
	.A(Count[2]),
	.B(Count[11]),
	.C(un1_Countlt11_i),
	.D(GND),
	.Z(un1_Count_cry_0_c_0_RNO)
);
defparam un1_Count_cry_0_c_0_RNO_cZ.INIT="0x3F3F";
  LUT4 \Count_RNI11UQH[11]  (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_0)
);
defparam \Count_RNI11UQH[11] .INIT="0x8888";
  LUT4 Out_Valid_RNI7VNID (
	.A(TxStrobe),
	.B(StateTx_0),
	.C(GND),
	.D(GND),
	.Z(N_130_0)
);
defparam Out_Valid_RNI7VNID.INIT="0x8888";
  LUT4 \Count_RNIHLOA5[6]  (
	.A(Count[6]),
	.B(Count[7]),
	.C(Count[8]),
	.D(GND),
	.Z(un1_Countlto8_1)
);
defparam \Count_RNIHLOA5[6] .INIT="0x8080";
  LUT4 \Count_RNI8COA5[3]  (
	.A(Count[3]),
	.B(Count[4]),
	.C(Count[5]),
	.D(GND),
	.Z(un1_Countlt8)
);
defparam \Count_RNI8COA5[3] .INIT="0x0101";
  LUT4 SyncLast_RNIOH5M7_cZ (
	.A(reset),
	.B(SyncLast),
	.C(TxSync),
	.D(GND),
	.Z(SyncLast_RNIOH5M7)
);
defparam SyncLast_RNIOH5M7_cZ.INIT="0xBABA";
  LUT4 Out_Valid_RNO (
	.A(SyncLast),
	.B(un1_Count_0),
	.C(TxSync),
	.D(GND),
	.Z(Out_Valid)
);
defparam Out_Valid_RNO.INIT="0xDCDC";
  LUT4 \Count_RNIRAM4F[9]  (
	.A(Count[9]),
	.B(Count[10]),
	.C(un1_Countlt8),
	.D(un1_Countlto8_1),
	.Z(un1_Countlt11_i)
);
defparam \Count_RNIRAM4F[9] .INIT="0xEFEE";
  CCU2_B \Count_RNO[11]  (
	.CIN(un1_Count_cry_8),
	.A0(Count[11]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_1),
	.S0(Count_5[11]),
	.S1(N_2)
);
defparam \Count_RNO[11] .INIT0="0x55AA";
defparam \Count_RNO[11] .INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_7_0_c_0 (
	.CIN(un1_Count_cry_6),
	.A0(GND),
	.A1(GND),
	.B0(Count[9]),
	.B1(Count[10]),
	.C0(un1_Count_cry_7_0_c_0_RNO_1),
	.C1(un1_Count_cry_7_0_c_0_RNO_0_0),
	.COUT(un1_Count_cry_8),
	.S0(Count_5[9]),
	.S1(Count_5[10])
);
defparam un1_Count_cry_7_0_c_0.INIT0="0xC33C";
defparam un1_Count_cry_7_0_c_0.INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_5_c_0 (
	.CIN(un1_Count_cry_4),
	.A0(GND),
	.A1(GND),
	.B0(Count[7]),
	.B1(Count[8]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_Count_cry_6),
	.S0(Count_5[7]),
	.S1(Count_5[8])
);
defparam un1_Count_cry_5_c_0.INIT0="0x9966";
defparam un1_Count_cry_5_c_0.INIT1="0x9966";
// @17:95
  CCU2_B un1_Count_cry_3_c_0 (
	.CIN(un1_Count_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(Count[5]),
	.B1(un1_Count_0_i),
	.C0(VCC),
	.C1(Count[6]),
	.COUT(un1_Count_cry_4),
	.S0(Count_5[5]),
	.S1(Count_5[6])
);
defparam un1_Count_cry_3_c_0.INIT0="0xC33C";
defparam un1_Count_cry_3_c_0.INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_1_0_c_0 (
	.CIN(un1_Count_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(Count[3]),
	.B1(Count[4]),
	.C0(un1_Count_cry_1_0_c_0_RNO_1),
	.C1(un1_Count_cry_1_0_c_0_RNO_0_0),
	.COUT(un1_Count_cry_2),
	.S0(Count_5[3]),
	.S1(Count_5[4])
);
defparam un1_Count_cry_1_0_c_0.INIT0="0xC33C";
defparam un1_Count_cry_1_0_c_0.INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_0_c_0 (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(GND),
	.B1(un1_Count_cry_0_c_0_RNO),
	.C0(GND),
	.C1(Count[2]),
	.COUT(un1_Count_cry_0),
	.S0(N_3),
	.S1(Count_5[2])
);
defparam un1_Count_cry_0_c_0.INIT0="0xC33C";
defparam un1_Count_cry_0_c_0.INIT1="0xC33C";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* \olo_base_strobe_gen_12000000.000000_460800.000000_true  */

module \olo_base_strobe_gen_12000000.000000_460800.000000_true_1  (
  StateRx,
  RxCount_RNIE2F0L_0,
  N_8_i,
  N_12,
  N_39,
  RxStrobe,
  reset,
  RxSync,
  clk_c
)
;
input [1:0] StateRx ;
input RxCount_RNIE2F0L_0 ;
output N_8_i ;
output N_12 ;
output N_39 ;
output RxStrobe ;
input reset ;
input RxSync ;
input clk_c ;
wire RxCount_RNIE2F0L_0 ;
wire N_8_i ;
wire N_12 ;
wire N_39 ;
wire RxStrobe ;
wire reset ;
wire RxSync ;
wire clk_c ;
wire [11:2] Count;
wire [11:2] Count_5;
wire un1_Count_0_i ;
wire un1_Count_0 ;
wire SyncLast_RNIKJME9 ;
wire VCC ;
wire SyncLast ;
wire Out_Valid ;
wire un1_Countlt11_i ;
wire GND ;
wire un1_Count_cry_1_0_c_0_RNO ;
wire un1_Count_cry_1_0_c_0_RNO_0 ;
wire un1_Count_cry_7_0_c_0_RNO ;
wire un1_Count_cry_7_0_c_0_RNO_0 ;
wire un1_Count_cry_0_c_0_RNO_0 ;
wire un1_Countlto8_1 ;
wire un1_Countlt8 ;
wire un1_Count_cry_8 ;
wire un1_Count_cry_6 ;
wire un1_Count_cry_4 ;
wire un1_Count_cry_2 ;
wire un1_Count_cry_0 ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
  INV un1_Count_cry_3_c_0_RNO (
	.Z(un1_Count_0_i),
	.A(un1_Count_0)
);
// @17:71
  FD1P3IZ \Count_Z[11]  (
	.Q(Count[11]),
	.D(Count_5[11]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[10]  (
	.Q(Count[10]),
	.D(Count_5[10]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[9]  (
	.Q(Count[9]),
	.D(Count_5[9]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[8]  (
	.Q(Count[8]),
	.D(Count_5[8]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[7]  (
	.Q(Count[7]),
	.D(Count_5[7]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[6]  (
	.Q(Count[6]),
	.D(Count_5[6]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[5]  (
	.Q(Count[5]),
	.D(Count_5[5]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[4]  (
	.Q(Count[4]),
	.D(Count_5[4]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[3]  (
	.Q(Count[3]),
	.D(Count_5[3]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ \Count_Z[2]  (
	.Q(Count[2]),
	.D(Count_5[2]),
	.CK(clk_c),
	.CD(SyncLast_RNIKJME9),
	.SP(VCC)
);
// @17:71
  FD1P3IZ SyncLast_Z (
	.Q(SyncLast),
	.D(RxSync),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @17:71
  FD1P3IZ Out_Valid_Z (
	.Q(RxStrobe),
	.D(Out_Valid),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
  LUT4 un1_Count_cry_1_0_c_0_RNO_cZ (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_1_0_c_0_RNO)
);
defparam un1_Count_cry_1_0_c_0_RNO_cZ.INIT="0x8888";
  LUT4 un1_Count_cry_1_0_c_0_RNO_0_cZ (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_1_0_c_0_RNO_0)
);
defparam un1_Count_cry_1_0_c_0_RNO_0_cZ.INIT="0x8888";
  LUT4 un1_Count_cry_7_0_c_0_RNO_cZ (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_7_0_c_0_RNO)
);
defparam un1_Count_cry_7_0_c_0_RNO_cZ.INIT="0x8888";
  LUT4 un1_Count_cry_7_0_c_0_RNO_0_cZ (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_cry_7_0_c_0_RNO_0)
);
defparam un1_Count_cry_7_0_c_0_RNO_0_cZ.INIT="0x8888";
  LUT4 un1_Count_cry_0_c_0_RNO (
	.A(Count[2]),
	.B(Count[11]),
	.C(un1_Countlt11_i),
	.D(GND),
	.Z(un1_Count_cry_0_c_0_RNO_0)
);
defparam un1_Count_cry_0_c_0_RNO.INIT="0x3F3F";
  LUT4 Out_Valid_RNIBV9LT (
	.A(StateRx[1]),
	.B(RxCount_RNIE2F0L_0),
	.C(StateRx[0]),
	.D(RxStrobe),
	.Z(N_39)
);
defparam Out_Valid_RNIBV9LT.INIT="0x1000";
  LUT4 \Count_RNIF86SJ1[11]  (
	.A(un1_Countlt11_i),
	.B(Count[11]),
	.C(GND),
	.D(GND),
	.Z(un1_Count_0)
);
defparam \Count_RNIF86SJ1[11] .INIT="0x8888";
  LUT4 Out_Valid_RNI20TS4 (
	.A(RxStrobe),
	.B(StateRx[0]),
	.C(GND),
	.D(GND),
	.Z(N_12)
);
defparam Out_Valid_RNI20TS4.INIT="0x7777";
  LUT4 \Count_RNIBP8II[6]  (
	.A(Count[6]),
	.B(Count[7]),
	.C(Count[8]),
	.D(GND),
	.Z(un1_Countlto8_1)
);
defparam \Count_RNIBP8II[6] .INIT="0x8080";
  LUT4 \Count_RNI2G8II[3]  (
	.A(Count[3]),
	.B(Count[4]),
	.C(Count[5]),
	.D(GND),
	.Z(un1_Countlt8)
);
defparam \Count_RNI2G8II[3] .INIT="0x0101";
  LUT4 SyncLast_RNIKJME9_cZ (
	.A(reset),
	.B(SyncLast),
	.C(RxSync),
	.D(GND),
	.Z(SyncLast_RNIKJME9)
);
defparam SyncLast_RNIKJME9_cZ.INIT="0xBABA";
  LUT4 Out_Valid_RNO (
	.A(SyncLast),
	.B(un1_Count_0),
	.C(RxSync),
	.D(GND),
	.Z(Out_Valid)
);
defparam Out_Valid_RNO.INIT="0xDCDC";
  LUT4 Out_Valid_RNITSQK8 (
	.A(RxStrobe),
	.B(StateRx[0]),
	.C(StateRx[1]),
	.D(GND),
	.Z(N_8_i)
);
defparam Out_Valid_RNITSQK8.INIT="0x2828";
  LUT4 \Count_RNIB8DJF1[10]  (
	.A(Count[9]),
	.B(Count[10]),
	.C(un1_Countlt8),
	.D(un1_Countlto8_1),
	.Z(un1_Countlt11_i)
);
defparam \Count_RNIB8DJF1[10] .INIT="0xEFEE";
  CCU2_B \Count_RNO[11]  (
	.CIN(un1_Count_cry_8),
	.A0(Count[11]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_1),
	.S0(Count_5[11]),
	.S1(N_2)
);
defparam \Count_RNO[11] .INIT0="0x55AA";
defparam \Count_RNO[11] .INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_7_0_c_0 (
	.CIN(un1_Count_cry_6),
	.A0(GND),
	.A1(GND),
	.B0(Count[9]),
	.B1(Count[10]),
	.C0(un1_Count_cry_7_0_c_0_RNO),
	.C1(un1_Count_cry_7_0_c_0_RNO_0),
	.COUT(un1_Count_cry_8),
	.S0(Count_5[9]),
	.S1(Count_5[10])
);
defparam un1_Count_cry_7_0_c_0.INIT0="0xC33C";
defparam un1_Count_cry_7_0_c_0.INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_5_c_0 (
	.CIN(un1_Count_cry_4),
	.A0(GND),
	.A1(GND),
	.B0(Count[7]),
	.B1(Count[8]),
	.C0(GND),
	.C1(GND),
	.COUT(un1_Count_cry_6),
	.S0(Count_5[7]),
	.S1(Count_5[8])
);
defparam un1_Count_cry_5_c_0.INIT0="0x9966";
defparam un1_Count_cry_5_c_0.INIT1="0x9966";
// @17:95
  CCU2_B un1_Count_cry_3_c_0 (
	.CIN(un1_Count_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(Count[5]),
	.B1(un1_Count_0_i),
	.C0(VCC),
	.C1(Count[6]),
	.COUT(un1_Count_cry_4),
	.S0(Count_5[5]),
	.S1(Count_5[6])
);
defparam un1_Count_cry_3_c_0.INIT0="0xC33C";
defparam un1_Count_cry_3_c_0.INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_1_0_c_0 (
	.CIN(un1_Count_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(Count[3]),
	.B1(Count[4]),
	.C0(un1_Count_cry_1_0_c_0_RNO),
	.C1(un1_Count_cry_1_0_c_0_RNO_0),
	.COUT(un1_Count_cry_2),
	.S0(Count_5[3]),
	.S1(Count_5[4])
);
defparam un1_Count_cry_1_0_c_0.INIT0="0xC33C";
defparam un1_Count_cry_1_0_c_0.INIT1="0xC33C";
// @17:95
  CCU2_B un1_Count_cry_0_c_0 (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(GND),
	.B1(un1_Count_cry_0_c_0_RNO_0),
	.C0(GND),
	.C1(Count[2]),
	.COUT(un1_Count_cry_0),
	.S0(N_3),
	.S1(Count_5[2])
);
defparam un1_Count_cry_0_c_0.INIT0="0xC33C";
defparam un1_Count_cry_0_c_0.INIT1="0xC33C";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* \olo_base_strobe_gen_12000000.000000_460800.000000_true_1  */

module olo_intf_sync_work_top_rtl_0layer0 (
  StateRx,
  RxSync_0_sqmuxa,
  UartRxInt,
  reset,
  clk_c,
  uart_rxd_c
)
;
input [1:0] StateRx ;
output RxSync_0_sqmuxa ;
output UartRxInt ;
input reset ;
input clk_c ;
input uart_rxd_c ;
wire RxSync_0_sqmuxa ;
wire UartRxInt ;
wire reset ;
wire clk_c ;
wire uart_rxd_c ;
wire [0:0] Reg0;
wire [0:0] RegN_0;
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)wire [0:0] Reg0_1;
wire VCC ;
wire GND ;
// @16:92
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)  FD1P3IZ \Reg0_Z[0]  (
	.Q(Reg0[0]),
	.D(uart_rxd_c),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @16:92
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)  FD1P3IZ \RegN_0_Z[0]  (
	.Q(RegN_0[0]),
	.D(Reg0_1[0]),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
  LUT4 \RegN_0_1_RNI2OLEE[0]  (
	.A(UartRxInt),
	.B(StateRx[0]),
	.C(StateRx[1]),
	.D(GND),
	.Z(RxSync_0_sqmuxa)
);
defparam \RegN_0_1_RNI2OLEE[0] .INIT="0x0101";
//@16:61
  assign #(0)  UartRxInt = RegN_0[0];
//@16:60
  assign #(0)  Reg0_1[0] = Reg0[0];
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* olo_intf_sync_work_top_rtl_0layer0 */

module \olo_intf_uart_12000000.000000_230400.000000_8_1_none  (
  uart_tx_data,
  uart_rx_data,
  uart_rxd_c,
  uart_tx_valid_0,
  reset,
  uart_tx_ready,
  uart_rx_valid,
  clk_c,
  uart_txd_c
)
;
input [7:0] uart_tx_data ;
output [7:0] uart_rx_data ;
input uart_rxd_c ;
input uart_tx_valid_0 ;
input reset ;
output uart_tx_ready ;
output uart_rx_valid ;
input clk_c ;
output uart_txd_c ;
wire uart_rxd_c ;
wire uart_tx_valid_0 ;
wire reset ;
wire uart_tx_ready ;
wire uart_rx_valid ;
wire clk_c ;
wire uart_txd_c ;
wire [4:0] TxCount;
wire [1:0] StateRx;
wire [1:0] StateRx_nss;
wire [1:0] StateTx;
wire [1:0] StateTx_nss;
wire [3:0] RxCount;
wire [3:3] RxCount_RNO_S0;
wire [1:0] RxCount_RNO;
wire [8:0] TxShiftReg;
wire [1:1] RxCount_RNIE2F0L;
wire Uart_Tx ;
wire GND ;
wire VCC ;
wire TxCount_2 ;
wire TxCount_1 ;
wire TxCount_0 ;
wire TxCount_scalar ;
wire RxSync ;
wire RxSync_0_sqmuxa ;
wire TxSync ;
wire Tx_Ready_1_sqmuxa ;
wire N_6_i ;
wire RxCount_cry_1_c_0_S1 ;
wire TxCount_3 ;
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)wire UartRxInt ;
wire RxShiftReg_0_sqmuxa ;
wire Tx_Ready_0 ;
wire N_192_0 ;
wire Tx_Ready_1_sqmuxa_0_i ;
wire N_73 ;
wire N_72 ;
wire N_71 ;
wire N_70 ;
wire N_69 ;
wire N_68 ;
wire N_67 ;
wire N_77 ;
wire N_28 ;
wire N_39 ;
wire N_202 ;
wire N_203 ;
wire TxStrobe ;
wire TxShiftReg_1_sqmuxa_i_0 ;
wire N_141 ;
wire StateTx_1_0_a2_0 ;
wire N_141_1 ;
wire RxStrobe ;
wire N_26 ;
wire m25_0_a3_1_4 ;
wire m6_1 ;
wire N_137 ;
wire N_14_mux ;
wire N_12 ;
wire N_130_0 ;
wire N_136 ;
wire N_22 ;
wire N_18_mux ;
wire StateTx_0_sqmuxa_0 ;
wire StateTx_1_0 ;
wire TxCount_cry_0_c_0_S1 ;
wire TxCount_cry_1_c_0_S0 ;
wire TxCount_cry_1_c_0_S1 ;
wire TxCount_cry_3_c_0_S0 ;
wire TxCount_cry_3 ;
wire TxCount_cry_2 ;
wire TxCount_cry_0 ;
wire RxCount_cry_2 ;
wire RxCount_cry_0 ;
wire N_8_i ;
wire N_76 ;
wire N_75 ;
wire N_74 ;
wire N_73_0 ;
wire N_14 ;
wire N_13 ;
wire N_12_0 ;
wire N_11 ;
wire N_10 ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
wire N_4 ;
wire N_5 ;
// @18:321
  FD1P3DZ \r.Uart_Tx  (
	.Q(uart_txd_c),
	.D(Uart_Tx),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxCount[1]  (
	.Q(TxCount[1]),
	.D(TxCount_2),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxCount[2]  (
	.Q(TxCount[2]),
	.D(TxCount_1),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxCount[3]  (
	.Q(TxCount[3]),
	.D(TxCount_0),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxCount[4]  (
	.Q(TxCount[4]),
	.D(TxCount_scalar),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.RxSync  (
	.Q(RxSync),
	.D(RxSync_0_sqmuxa),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxSync  (
	.Q(TxSync),
	.D(Tx_Ready_1_sqmuxa),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.Rx_Valid  (
	.Q(uart_rx_valid),
	.D(N_6_i),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.StateRx[1]  (
	.Q(StateRx[1]),
	.D(StateRx_nss[1]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.StateRx[0]  (
	.Q(StateRx[0]),
	.D(StateRx_nss[0]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.StateTx[1]  (
	.Q(StateTx[1]),
	.D(StateTx_nss[1]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.StateTx[0]  (
	.Q(StateTx[0]),
	.D(StateTx_nss[0]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.RxCount[3]  (
	.Q(RxCount[3]),
	.D(RxCount_RNO_S0[3]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.RxCount[2]  (
	.Q(RxCount[2]),
	.D(RxCount_cry_1_c_0_S1),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.RxCount[1]  (
	.Q(RxCount[1]),
	.D(RxCount_RNO[1]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.RxCount[0]  (
	.Q(RxCount[0]),
	.D(RxCount_RNO[0]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxCount[0]  (
	.Q(TxCount[0]),
	.D(TxCount_3),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[7]  (
	.Q(uart_rx_data[7]),
	.D(UartRxInt),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[6]  (
	.Q(uart_rx_data[6]),
	.D(uart_rx_data[7]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[5]  (
	.Q(uart_rx_data[5]),
	.D(uart_rx_data[6]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[4]  (
	.Q(uart_rx_data[4]),
	.D(uart_rx_data[5]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[3]  (
	.Q(uart_rx_data[3]),
	.D(uart_rx_data[4]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[2]  (
	.Q(uart_rx_data[2]),
	.D(uart_rx_data[3]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[1]  (
	.Q(uart_rx_data[1]),
	.D(uart_rx_data[2]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3DZ \r.RxShiftReg[0]  (
	.Q(uart_rx_data[0]),
	.D(uart_rx_data[1]),
	.CK(clk_c),
	.CD(GND),
	.SP(RxShiftReg_0_sqmuxa)
);
// @18:321
  FD1P3IZ \r.Tx_Ready  (
	.Q(uart_tx_ready),
	.D(Tx_Ready_0),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[8]  (
	.Q(TxShiftReg[8]),
	.D(N_192_0),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[7]  (
	.Q(TxShiftReg[7]),
	.D(N_73),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[6]  (
	.Q(TxShiftReg[6]),
	.D(N_72),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[5]  (
	.Q(TxShiftReg[5]),
	.D(N_71),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[4]  (
	.Q(TxShiftReg[4]),
	.D(N_70),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[3]  (
	.Q(TxShiftReg[3]),
	.D(N_69),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[2]  (
	.Q(TxShiftReg[2]),
	.D(N_68),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[1]  (
	.Q(TxShiftReg[1]),
	.D(N_67),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
// @18:321
  FD1P3DZ \r.TxShiftReg[0]  (
	.Q(TxShiftReg[0]),
	.D(N_77),
	.CK(clk_c),
	.CD(GND),
	.SP(Tx_Ready_1_sqmuxa_0_i)
);
  LUT4 \r.RxCount_RNO[0]  (
	.A(N_28),
	.B(N_39),
	.C(N_202),
	.D(RxSync_0_sqmuxa),
	.Z(RxCount_RNO[0])
);
defparam \r.RxCount_RNO[0] .INIT="0x0010";
  LUT4 \r.RxCount_RNO[1]  (
	.A(N_28),
	.B(N_39),
	.C(N_203),
	.D(RxSync_0_sqmuxa),
	.Z(RxCount_RNO[1])
);
defparam \r.RxCount_RNO[1] .INIT="0x0010";
  LUT4 \r.TxCount_RNI7CE5Q[0]  (
	.A(TxCount[0]),
	.B(StateTx[0]),
	.C(StateTx[1]),
	.D(TxStrobe),
	.Z(TxShiftReg_1_sqmuxa_i_0)
);
defparam \r.TxCount_RNI7CE5Q[0] .INIT="0x2000";
  LUT4 \r.TxCount_RNII15NJ[1]  (
	.A(TxCount[3]),
	.B(TxCount[2]),
	.C(TxCount[1]),
	.D(GND),
	.Z(N_141)
);
defparam \r.TxCount_RNII15NJ[1] .INIT="0x0101";
  LUT4 \r.TxCount_RNICMO4D[0]  (
	.A(TxCount[0]),
	.B(TxCount[4]),
	.C(GND),
	.D(GND),
	.Z(StateTx_1_0_a2_0)
);
defparam \r.TxCount_RNICMO4D[0] .INIT="0x2222";
  LUT4 \r.TxShiftReg_RNO[0]  (
	.A(StateTx[0]),
	.B(TxShiftReg[1]),
	.C(GND),
	.D(GND),
	.Z(N_77)
);
defparam \r.TxShiftReg_RNO[0] .INIT="0x4444";
  LUT4 \r.TxShiftReg_RNO[8]  (
	.A(StateTx[0]),
	.B(uart_tx_data[7]),
	.C(GND),
	.D(GND),
	.Z(N_192_0)
);
defparam \r.TxShiftReg_RNO[8] .INIT="0x8888";
  LUT4 \r.StateTx_ns_1_0_.m6_2  (
	.A(TxCount[1]),
	.B(TxCount[2]),
	.C(GND),
	.D(GND),
	.Z(N_141_1)
);
defparam \r.StateTx_ns_1_0_.m6_2 .INIT="0x1111";
  LUT4 \r.StateRx_RNO_1[0]  (
	.A(RxStrobe),
	.B(StateRx[0]),
	.C(GND),
	.D(GND),
	.Z(N_26)
);
defparam \r.StateRx_RNO_1[0] .INIT="0x4444";
  LUT4 \r.TxShiftReg_RNO[1]  (
	.A(StateTx[0]),
	.B(TxShiftReg[2]),
	.C(uart_tx_data[0]),
	.D(GND),
	.Z(N_67)
);
defparam \r.TxShiftReg_RNO[1] .INIT="0xE4E4";
  LUT4 \r.TxShiftReg_RNO[2]  (
	.A(StateTx[0]),
	.B(TxShiftReg[3]),
	.C(uart_tx_data[1]),
	.D(GND),
	.Z(N_68)
);
defparam \r.TxShiftReg_RNO[2] .INIT="0xE4E4";
  LUT4 \r.TxShiftReg_RNO[3]  (
	.A(StateTx[0]),
	.B(TxShiftReg[4]),
	.C(uart_tx_data[2]),
	.D(GND),
	.Z(N_69)
);
defparam \r.TxShiftReg_RNO[3] .INIT="0xE4E4";
  LUT4 \r.TxShiftReg_RNO[4]  (
	.A(StateTx[0]),
	.B(TxShiftReg[5]),
	.C(uart_tx_data[3]),
	.D(GND),
	.Z(N_70)
);
defparam \r.TxShiftReg_RNO[4] .INIT="0xE4E4";
  LUT4 \r.TxShiftReg_RNO[5]  (
	.A(StateTx[0]),
	.B(TxShiftReg[6]),
	.C(uart_tx_data[4]),
	.D(GND),
	.Z(N_71)
);
defparam \r.TxShiftReg_RNO[5] .INIT="0xE4E4";
  LUT4 \r.TxShiftReg_RNO[6]  (
	.A(StateTx[0]),
	.B(TxShiftReg[7]),
	.C(uart_tx_data[5]),
	.D(GND),
	.Z(N_72)
);
defparam \r.TxShiftReg_RNO[6] .INIT="0xE4E4";
  LUT4 \r.TxShiftReg_RNO[7]  (
	.A(StateTx[0]),
	.B(TxShiftReg[8]),
	.C(uart_tx_data[6]),
	.D(GND),
	.Z(N_73)
);
defparam \r.TxShiftReg_RNO[7] .INIT="0xE4E4";
  LUT4 \r.RxCount_RNIAI4DF[3]  (
	.A(RxStrobe),
	.B(RxCount[0]),
	.C(RxCount[3]),
	.D(StateRx[1]),
	.Z(m25_0_a3_1_4)
);
defparam \r.RxCount_RNIAI4DF[3] .INIT="0x8000";
  LUT4 \r.StateTx_ns_1_0_.m6_1  (
	.A(TxStrobe),
	.B(TxCount[0]),
	.C(TxCount[3]),
	.D(GND),
	.Z(m6_1)
);
defparam \r.StateTx_ns_1_0_.m6_1 .INIT="0x0808";
  LUT4 \r.RxCount_RNIE2F0L[1]  (
	.A(RxCount[0]),
	.B(RxCount[1]),
	.C(RxCount[2]),
	.D(RxCount[3]),
	.Z(RxCount_RNIE2F0L[1])
);
defparam \r.RxCount_RNIE2F0L[1] .INIT="0xFFFB";
  LUT4 \r.RxCount_RNIVJUSD[0]  (
	.A(RxStrobe),
	.B(RxCount[0]),
	.C(StateRx[0]),
	.D(StateRx[1]),
	.Z(RxShiftReg_0_sqmuxa)
);
defparam \r.RxCount_RNIVJUSD[0] .INIT="0x0200";
  LUT4 \r.Tx_Ready_RNIA7J7P  (
	.A(TxStrobe),
	.B(StateTx[0]),
	.C(StateTx[1]),
	.D(uart_tx_ready),
	.Z(N_137)
);
defparam \r.Tx_Ready_RNIA7J7P .INIT="0x0008";
  LUT4 \r.StateTx_ns_1_0_.m2  (
	.A(TxStrobe),
	.B(StateTx[0]),
	.C(uart_tx_ready),
	.D(GND),
	.Z(N_14_mux)
);
defparam \r.StateTx_ns_1_0_.m2 .INIT="0x0808";
  LUT4 \r.Uart_Tx_RNO  (
	.A(StateTx[0]),
	.B(StateTx[1]),
	.C(TxShiftReg[0]),
	.D(GND),
	.Z(Uart_Tx)
);
defparam \r.Uart_Tx_RNO .INIT="0xFBFB";
  LUT4 \r.RxCount_RNIBV9LT[1]  (
	.A(m25_0_a3_1_4),
	.B(RxCount[1]),
	.C(RxCount[2]),
	.D(StateRx[0]),
	.Z(N_28)
);
defparam \r.RxCount_RNIBV9LT[1] .INIT="0x0080";
  LUT4 \r.Rx_Valid_RNO  (
	.A(N_12),
	.B(StateRx[1]),
	.C(GND),
	.D(GND),
	.Z(N_6_i)
);
defparam \r.Rx_Valid_RNO .INIT="0x4444";
  LUT4 \r.StateTx_RNI1RVEK1[0]  (
	.A(N_130_0),
	.B(N_141),
	.C(StateTx[0]),
	.D(StateTx_1_0_a2_0),
	.Z(N_136)
);
defparam \r.StateTx_RNI1RVEK1[0] .INIT="0x8000";
  LUT4 \r.Tx_Ready_RNI7N9IP  (
	.A(StateTx[0]),
	.B(StateTx[1]),
	.C(uart_tx_ready),
	.D(uart_tx_valid_0),
	.Z(Tx_Ready_1_sqmuxa)
);
defparam \r.Tx_Ready_RNI7N9IP .INIT="0x0020";
  LUT4 \r.StateRx_RNO_0[0]  (
	.A(RxCount_RNIE2F0L[1]),
	.B(UartRxInt),
	.C(StateRx[0]),
	.D(StateRx[1]),
	.Z(N_22)
);
defparam \r.StateRx_RNO_0[0] .INIT="0x0023";
  LUT4 \r.StateTx_ns_1_0_.m8  (
	.A(N_141_1),
	.B(StateTx[0]),
	.C(m6_1),
	.D(TxCount[4]),
	.Z(N_18_mux)
);
defparam \r.StateTx_ns_1_0_.m8 .INIT="0x1333";
  LUT4 \r.TxCount_RNIB2JMD2[4]  (
	.A(N_137),
	.B(N_141),
	.C(TxCount[4]),
	.D(TxShiftReg_1_sqmuxa_i_0),
	.Z(StateTx_0_sqmuxa_0)
);
defparam \r.TxCount_RNIB2JMD2[4] .INIT="0x1555";
  LUT4 \r.Tx_Ready_RNO_0  (
	.A(N_136),
	.B(StateTx[0]),
	.C(StateTx[1]),
	.D(GND),
	.Z(StateTx_1_0)
);
defparam \r.Tx_Ready_RNO_0 .INIT="0x5454";
  LUT4 \r.StateRx_RNO[1]  (
	.A(N_12),
	.B(N_39),
	.C(reset),
	.D(StateRx[1]),
	.Z(StateRx_nss[1])
);
defparam \r.StateRx_RNO[1] .INIT="0x0E0C";
  LUT4 \r.TxCount_RNO[0]  (
	.A(TxCount_cry_0_c_0_S1),
	.B(N_136),
	.C(StateTx_0_sqmuxa_0),
	.D(GND),
	.Z(TxCount_3)
);
defparam \r.TxCount_RNO[0] .INIT="0xE0E0";
  LUT4 \r.TxCount_RNI8I91E2[4]  (
	.A(N_141),
	.B(TxCount[4]),
	.C(TxShiftReg_1_sqmuxa_i_0),
	.D(Tx_Ready_1_sqmuxa),
	.Z(Tx_Ready_1_sqmuxa_0_i)
);
defparam \r.TxCount_RNI8I91E2[4] .INIT="0xFF70";
  LUT4 \r.StateRx_RNO[0]  (
	.A(N_22),
	.B(N_26),
	.C(N_28),
	.D(reset),
	.Z(StateRx_nss[0])
);
defparam \r.StateRx_RNO[0] .INIT="0x00FE";
  LUT4 \r.Tx_Ready_RNO  (
	.A(StateTx_1_0),
	.B(Tx_Ready_1_sqmuxa),
	.C(uart_tx_ready),
	.D(GND),
	.Z(Tx_Ready_0)
);
defparam \r.Tx_Ready_RNO .INIT="0x7575";
  LUT4 \r.StateTx_RNO[1]  (
	.A(reset),
	.B(N_136),
	.C(StateTx[1]),
	.D(N_14_mux),
	.Z(StateTx_nss[1])
);
defparam \r.StateTx_RNO[1] .INIT="0x1510";
  LUT4 \r.TxCount_RNO[1]  (
	.A(TxCount_cry_1_c_0_S0),
	.B(N_136),
	.C(StateTx_0_sqmuxa_0),
	.D(GND),
	.Z(TxCount_2)
);
defparam \r.TxCount_RNO[1] .INIT="0x2020";
  LUT4 \r.TxCount_RNO[2]  (
	.A(TxCount_cry_1_c_0_S1),
	.B(N_136),
	.C(StateTx_0_sqmuxa_0),
	.D(GND),
	.Z(TxCount_1)
);
defparam \r.TxCount_RNO[2] .INIT="0x2020";
  LUT4 \r.TxCount_RNO[3]  (
	.A(TxCount_cry_3_c_0_S0),
	.B(N_136),
	.C(StateTx_0_sqmuxa_0),
	.D(GND),
	.Z(TxCount_0)
);
defparam \r.TxCount_RNO[3] .INIT="0x2020";
  LUT4 \r.StateTx_RNO[0]  (
	.A(reset),
	.B(StateTx[1]),
	.C(N_14_mux),
	.D(N_18_mux),
	.Z(StateTx_nss[0])
);
defparam \r.StateTx_RNO[0] .INIT="0x0145";
  LUT4 \r.TxCount_RNO[4]  (
	.A(TxCount[4]),
	.B(TxCount_cry_3),
	.C(N_136),
	.D(StateTx_0_sqmuxa_0),
	.Z(TxCount_scalar)
);
defparam \r.TxCount_RNO[4] .INIT="0x0600";
// @18:201
  CCU2_B \un1_r.TxCount_cry_3_c_0  (
	.CIN(TxCount_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(TxCount[3]),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_1),
	.S0(TxCount_cry_3_c_0_S0),
	.S1(TxCount_cry_3)
);
defparam \un1_r.TxCount_cry_3_c_0 .INIT0="0xC33C";
defparam \un1_r.TxCount_cry_3_c_0 .INIT1="0xC33C";
// @18:201
  CCU2_B \un1_r.TxCount_cry_1_c_0  (
	.CIN(TxCount_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(TxCount[1]),
	.B1(TxCount[2]),
	.C0(GND),
	.C1(GND),
	.COUT(TxCount_cry_2),
	.S0(TxCount_cry_1_c_0_S0),
	.S1(TxCount_cry_1_c_0_S1)
);
defparam \un1_r.TxCount_cry_1_c_0 .INIT0="0xC33C";
defparam \un1_r.TxCount_cry_1_c_0 .INIT1="0xC33C";
// @18:201
  CCU2_B \un1_r.TxCount_cry_0_c_0  (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(N_130_0),
	.B1(TxCount[0]),
	.C0(N_130_0),
	.C1(GND),
	.COUT(TxCount_cry_0),
	.S0(N_2),
	.S1(TxCount_cry_0_c_0_S1)
);
defparam \un1_r.TxCount_cry_0_c_0 .INIT0="0xC33C";
defparam \un1_r.TxCount_cry_0_c_0 .INIT1="0xC33C";
  CCU2_B \r.RxCount_RNO[3]  (
	.CIN(RxCount_cry_2),
	.A0(RxCount[3]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(RxSync_0_sqmuxa),
	.C1(GND),
	.COUT(N_3),
	.S0(RxCount_RNO_S0[3]),
	.S1(N_4)
);
defparam \r.RxCount_RNO[3] .INIT0="0x050A";
defparam \r.RxCount_RNO[3] .INIT1="0xC33C";
// @18:252
  CCU2_B \un1_r.RxCount_cry_1_c_0  (
	.CIN(RxCount_cry_0),
	.A0(GND),
	.A1(RxSync_0_sqmuxa),
	.B0(RxCount[1]),
	.B1(RxCount[2]),
	.C0(GND),
	.C1(GND),
	.COUT(RxCount_cry_2),
	.S0(N_203),
	.S1(RxCount_cry_1_c_0_S1)
);
defparam \un1_r.RxCount_cry_1_c_0 .INIT0="0x9966";
defparam \un1_r.RxCount_cry_1_c_0 .INIT1="0x1144";
// @18:252
  CCU2_B \un1_r.RxCount_cry_0_c_0  (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(N_8_i),
	.B1(RxCount[0]),
	.C0(N_8_i),
	.C1(GND),
	.COUT(RxCount_cry_0),
	.S0(N_5),
	.S1(N_202)
);
defparam \un1_r.RxCount_cry_0_c_0 .INIT0="0xC33C";
defparam \un1_r.RxCount_cry_0_c_0 .INIT1="0x9966";
// @18:336
  \olo_base_strobe_gen_12000000.000000_460800.000000_true  i_strb_tx (
	.StateTx_0(StateTx[1]),
	.N_130_0(N_130_0),
	.TxStrobe(TxStrobe),
	.reset(reset),
	.TxSync(TxSync),
	.clk_c(clk_c)
);
// @18:349
  \olo_base_strobe_gen_12000000.000000_460800.000000_true_1  i_strb_rx (
	.StateRx(StateRx[1:0]),
	.RxCount_RNIE2F0L_0(RxCount_RNIE2F0L[1]),
	.N_8_i(N_8_i),
	.N_12(N_12),
	.N_39(N_39),
	.RxStrobe(RxStrobe),
	.reset(reset),
	.RxSync(RxSync),
	.clk_c(clk_c)
);
// @18:362
  olo_intf_sync_work_top_rtl_0layer0 i_sync (
	.StateRx(StateRx[1:0]),
	.RxSync_0_sqmuxa(RxSync_0_sqmuxa),
	.UartRxInt(UartRxInt),
	.reset(reset),
	.clk_c(clk_c),
	.uart_rxd_c(uart_rxd_c)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* \olo_intf_uart_12000000.000000_230400.000000_8_1_none  */

module olo_base_ram_sdp_32_8_false_1_auto_RBW_false (
  uart_tx_data,
  WrAddr,
  RdAddr_4,
  uart_rx_data,
  RamWr,
  clk_c
)
;
output [7:0] uart_tx_data ;
input [4:0] WrAddr ;
input [4:0] RdAddr_4 ;
input [7:0] uart_rx_data ;
input RamWr ;
input clk_c ;
wire RamWr ;
wire clk_c ;
wire [15:8] mem_v_mem_v_0_0_DO;
wire GND ;
wire VCC ;
// @19:68
  PDP4K mem_v_mem_v_0_0 (
	.DI({GND, GND, GND, GND, GND, GND, GND, GND, uart_rx_data[7:0]}),
	.MASK_N({GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND, GND}),
	.ADR({GND, GND, GND, GND, GND, GND, RdAddr_4[4:0]}),
	.CKR(clk_c),
	.CER(VCC),
	.RE(VCC),
	.ADW({GND, GND, GND, GND, GND, GND, WrAddr[4:0]}),
	.CKW(clk_c),
	.CEW(RamWr),
	.WE(RamWr),
	.DO({mem_v_mem_v_0_0_DO[15:8], uart_tx_data[7:0]})
);
defparam mem_v_mem_v_0_0.DATA_WIDTH_R="16";
defparam mem_v_mem_v_0_0.DATA_WIDTH_W="16";
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* olo_base_ram_sdp_32_8_false_1_auto_RBW_false */

module olo_base_fifo_sync_work_top_rtl_0layer0 (
  uart_rx_data,
  uart_tx_data,
  uart_tx_valid_0,
  uart_rx_valid,
  uart_tx_ready,
  reset,
  clk_c
)
;
input [7:0] uart_rx_data ;
output [7:0] uart_tx_data ;
output uart_tx_valid_0 ;
input uart_rx_valid ;
input uart_tx_ready ;
input reset ;
input clk_c ;
wire uart_tx_valid_0 ;
wire uart_rx_valid ;
wire uart_tx_ready ;
wire reset ;
wire clk_c ;
wire [4:0] RdAddr;
wire [4:0] WrAddr;
wire [5:0] RdLevel;
wire [5:5] RdLevel_RNO_S0;
wire [5:0] WrLevel;
wire [5:5] WrLevel_RNO_S0;
wire [3:0] WrAddr_s;
wire [4:0] RdAddr_4;
wire [3:0] WrAddr_cry;
wire RdAddr_3 ;
wire GND ;
wire VCC ;
wire RdAddr_2 ;
wire RdAddr_1 ;
wire RdAddr_0 ;
wire RdAddr_scalar ;
wire WrAddr_0 ;
wire WrAddr_1 ;
wire WrAddr_2 ;
wire WrAddr_3 ;
wire WrAddr_4 ;
wire RdLevel_cry_3_c_0_S1 ;
wire RdLevel_cry_3_c_0_S0 ;
wire RdLevel_cry_1_c_0_S1 ;
wire RdLevel_cry_1_c_0_S0 ;
wire RdLevel_cry_0_c_0_S1 ;
wire WrLevel_1_cry_3_0_c_0_S1 ;
wire WrLevel_1_cry_3_0_c_0_S0 ;
wire WrLevel_1_cry_1_0_c_0_S1 ;
wire WrLevel_1_cry_1_0_c_0_S0 ;
wire WrLevel_1_cry_0_c_0_S1 ;
wire RdUp ;
wire RamWr ;
wire WrDown ;
wire rdaddr7 ;
wire RamWr_i ;
wire WrLevel_1_cry_1_0_c_0_RNO ;
wire WrLevel_1_cry_1_0_c_0_RNO_0 ;
wire WrLevel_1_cry_3_0_c_0_RNO ;
wire WrLevel_1_cry_3_0_c_0_RNO_0 ;
wire WrLevel_1_cry_0_c_0_RNO ;
wire RdLevel_cry_3_c_0_RNO_0 ;
wire RdLevel_cry_3_c_0_RNO ;
wire RdLevel_cry_1_c_0_RNO_0 ;
wire RdLevel_cry_1_c_0_RNO ;
wire RdLevel_cry_0_c_0_RNO ;
wire out_valid2lto5_3 ;
wire in_ready2_3 ;
wire WrAddre_0 ;
wire RdAddr_2_0 ;
wire WrLevel_1_axb_5 ;
wire rdaddr7_1_0 ;
wire N_159 ;
wire RdLevel_axb_5 ;
wire RdAddr_cry_2 ;
wire RdAddr_cry_3_c_0_COUT ;
wire RdAddr_cry_0 ;
wire WrLevel_1_cry_4 ;
wire WrLevel_1_cry_2 ;
wire WrLevel_1_cry_0 ;
wire RdLevel_cry_4 ;
wire RdLevel_cry_2 ;
wire RdLevel_cry_0 ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
wire N_4 ;
wire N_5 ;
wire N_6 ;
wire N_7 ;
wire N_8 ;
wire N_9 ;
// @20:174
  FD1P3DZ \r.RdAddr[4]  (
	.Q(RdAddr[4]),
	.D(RdAddr_3),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.RdAddr[0]  (
	.Q(RdAddr[0]),
	.D(RdAddr_2),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.RdAddr[1]  (
	.Q(RdAddr[1]),
	.D(RdAddr_1),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.RdAddr[2]  (
	.Q(RdAddr[2]),
	.D(RdAddr_0),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.RdAddr[3]  (
	.Q(RdAddr[3]),
	.D(RdAddr_scalar),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.WrAddr[4]  (
	.Q(WrAddr[4]),
	.D(WrAddr_0),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.WrAddr[3]  (
	.Q(WrAddr[3]),
	.D(WrAddr_1),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.WrAddr[2]  (
	.Q(WrAddr[2]),
	.D(WrAddr_2),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.WrAddr[1]  (
	.Q(WrAddr[1]),
	.D(WrAddr_3),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3DZ \r.WrAddr[0]  (
	.Q(WrAddr[0]),
	.D(WrAddr_4),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdLevel[5]  (
	.Q(RdLevel[5]),
	.D(RdLevel_RNO_S0[5]),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdLevel[4]  (
	.Q(RdLevel[4]),
	.D(RdLevel_cry_3_c_0_S1),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdLevel[3]  (
	.Q(RdLevel[3]),
	.D(RdLevel_cry_3_c_0_S0),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdLevel[2]  (
	.Q(RdLevel[2]),
	.D(RdLevel_cry_1_c_0_S1),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdLevel[1]  (
	.Q(RdLevel[1]),
	.D(RdLevel_cry_1_c_0_S0),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdLevel[0]  (
	.Q(RdLevel[0]),
	.D(RdLevel_cry_0_c_0_S1),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrLevel[5]  (
	.Q(WrLevel[5]),
	.D(WrLevel_RNO_S0[5]),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrLevel[4]  (
	.Q(WrLevel[4]),
	.D(WrLevel_1_cry_3_0_c_0_S1),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrLevel[3]  (
	.Q(WrLevel[3]),
	.D(WrLevel_1_cry_3_0_c_0_S0),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrLevel[2]  (
	.Q(WrLevel[2]),
	.D(WrLevel_1_cry_1_0_c_0_S1),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrLevel[1]  (
	.Q(WrLevel[1]),
	.D(WrLevel_1_cry_1_0_c_0_S0),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrLevel[0]  (
	.Q(WrLevel[0]),
	.D(WrLevel_1_cry_0_c_0_S1),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.RdUp  (
	.Q(RdUp),
	.D(RamWr),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
// @20:174
  FD1P3IZ \r.WrDown  (
	.Q(WrDown),
	.D(rdaddr7),
	.CK(clk_c),
	.CD(reset),
	.SP(VCC)
);
  LUT4 \un1_r.WrLevel_1_cry_1_0_c_0_RNO  (
	.A(RamWr_i),
	.B(WrDown),
	.C(GND),
	.D(GND),
	.Z(WrLevel_1_cry_1_0_c_0_RNO)
);
defparam \un1_r.WrLevel_1_cry_1_0_c_0_RNO .INIT="0x8888";
  LUT4 \un1_r.WrLevel_1_cry_1_0_c_0_RNO_0  (
	.A(RamWr_i),
	.B(WrDown),
	.C(GND),
	.D(GND),
	.Z(WrLevel_1_cry_1_0_c_0_RNO_0)
);
defparam \un1_r.WrLevel_1_cry_1_0_c_0_RNO_0 .INIT="0x8888";
  LUT4 \un1_r.WrLevel_1_cry_3_0_c_0_RNO  (
	.A(RamWr_i),
	.B(WrDown),
	.C(GND),
	.D(GND),
	.Z(WrLevel_1_cry_3_0_c_0_RNO)
);
defparam \un1_r.WrLevel_1_cry_3_0_c_0_RNO .INIT="0x8888";
  LUT4 \un1_r.WrLevel_1_cry_3_0_c_0_RNO_0  (
	.A(RamWr_i),
	.B(WrDown),
	.C(GND),
	.D(GND),
	.Z(WrLevel_1_cry_3_0_c_0_RNO_0)
);
defparam \un1_r.WrLevel_1_cry_3_0_c_0_RNO_0 .INIT="0x8888";
  LUT4 \un1_r.WrLevel_1_cry_0_c_0_RNO  (
	.A(WrLevel[0]),
	.B(RamWr_i),
	.C(WrDown),
	.D(RamWr),
	.Z(WrLevel_1_cry_0_c_0_RNO)
);
defparam \un1_r.WrLevel_1_cry_0_c_0_RNO .INIT="0xCFC0";
  LUT4 \un1_r.RdLevel_cry_3_c_0_RNO_0  (
	.A(RdLevel[4]),
	.B(rdaddr7),
	.C(RdUp),
	.D(GND),
	.Z(RdLevel_cry_3_c_0_RNO_0)
);
defparam \un1_r.RdLevel_cry_3_c_0_RNO_0 .INIT="0x0C0C";
  LUT4 \un1_r.RdLevel_cry_3_c_0_RNO  (
	.A(RdLevel[3]),
	.B(rdaddr7),
	.C(RdUp),
	.D(GND),
	.Z(RdLevel_cry_3_c_0_RNO)
);
defparam \un1_r.RdLevel_cry_3_c_0_RNO .INIT="0x0C0C";
  LUT4 \un1_r.RdLevel_cry_1_c_0_RNO_0  (
	.A(RdLevel[2]),
	.B(rdaddr7),
	.C(RdUp),
	.D(GND),
	.Z(RdLevel_cry_1_c_0_RNO_0)
);
defparam \un1_r.RdLevel_cry_1_c_0_RNO_0 .INIT="0x0C0C";
  LUT4 \un1_r.RdLevel_cry_1_c_0_RNO  (
	.A(RdLevel[1]),
	.B(rdaddr7),
	.C(RdUp),
	.D(GND),
	.Z(RdLevel_cry_1_c_0_RNO)
);
defparam \un1_r.RdLevel_cry_1_c_0_RNO .INIT="0x0C0C";
  LUT4 \un1_r.RdLevel_cry_0_c_0_RNO  (
	.A(RdLevel[0]),
	.B(rdaddr7),
	.C(RdUp),
	.D(GND),
	.Z(RdLevel_cry_0_c_0_RNO)
);
defparam \un1_r.RdLevel_cry_0_c_0_RNO .INIT="0x3C3C";
  LUT4 \r.RdLevel_RNIEELHD[5]  (
	.A(uart_tx_ready),
	.B(RdLevel[5]),
	.C(RdLevel[0]),
	.D(out_valid2lto5_3),
	.Z(rdaddr7)
);
defparam \r.RdLevel_RNIEELHD[5] .INIT="0xA8AA";
  LUT4 \r.WrLevel_RNIPG8RA_0[1]  (
	.A(uart_rx_valid),
	.B(WrLevel[2]),
	.C(WrLevel[1]),
	.D(in_ready2_3),
	.Z(RamWr_i)
);
defparam \r.WrLevel_RNIPG8RA_0[1] .INIT="0x5755";
  LUT4 \r.WrLevel_RNID852B[1]  (
	.A(reset),
	.B(RamWr_i),
	.C(GND),
	.D(GND),
	.Z(WrAddre_0)
);
defparam \r.WrLevel_RNID852B[1] .INIT="0x4444";
  LUT4 \r.RdAddr_RNIU6IG7[2]  (
	.A(RdAddr[2]),
	.B(RdAddr[3]),
	.C(RdAddr[4]),
	.D(GND),
	.Z(RdAddr_2_0)
);
defparam \r.RdAddr_RNIU6IG7[2] .INIT="0x8080";
  LUT4 \r.WrLevel_RNI8VR06[3]  (
	.A(WrLevel[0]),
	.B(WrLevel[3]),
	.C(WrLevel[4]),
	.D(WrLevel[5]),
	.Z(in_ready2_3)
);
defparam \r.WrLevel_RNI8VR06[3] .INIT="0x0100";
  LUT4 \r.RdLevel_RNIQ6O85[1]  (
	.A(RdLevel[1]),
	.B(RdLevel[2]),
	.C(RdLevel[3]),
	.D(RdLevel[4]),
	.Z(out_valid2lto5_3)
);
defparam \r.RdLevel_RNIQ6O85[1] .INIT="0x0001";
  LUT4 \r.WrLevel_RNO_0[5]  (
	.A(RamWr_i),
	.B(WrDown),
	.C(WrLevel[5]),
	.D(GND),
	.Z(WrLevel_1_axb_5)
);
defparam \r.WrLevel_RNO_0[5] .INIT="0x7878";
  LUT4 \r.WrAddr_RNO[0]  (
	.A(reset),
	.B(WrAddr[0]),
	.C(WrAddr_s[0]),
	.D(WrAddre_0),
	.Z(WrAddr_4)
);
defparam \r.WrAddr_RNO[0] .INIT="0xCC50";
  LUT4 \r.WrAddr_RNO[1]  (
	.A(reset),
	.B(WrAddr[1]),
	.C(WrAddr_s[1]),
	.D(WrAddre_0),
	.Z(WrAddr_3)
);
defparam \r.WrAddr_RNO[1] .INIT="0xCC50";
  LUT4 \r.WrAddr_RNO[2]  (
	.A(reset),
	.B(WrAddr[2]),
	.C(WrAddr_s[2]),
	.D(WrAddre_0),
	.Z(WrAddr_2)
);
defparam \r.WrAddr_RNO[2] .INIT="0xCC50";
  LUT4 \r.WrAddr_RNO[3]  (
	.A(reset),
	.B(WrAddr[3]),
	.C(WrAddr_s[3]),
	.D(WrAddre_0),
	.Z(WrAddr_1)
);
defparam \r.WrAddr_RNO[3] .INIT="0xCC50";
  LUT4 \r.RdLevel_RNI7A4T7[5]  (
	.A(out_valid2lto5_3),
	.B(RdLevel[0]),
	.C(RdLevel[5]),
	.D(GND),
	.Z(uart_tx_valid_0)
);
defparam \r.RdLevel_RNI7A4T7[5] .INIT="0x0202";
  LUT4 \r.WrLevel_RNIPG8RA[1]  (
	.A(in_ready2_3),
	.B(WrLevel[1]),
	.C(WrLevel[2]),
	.D(uart_rx_valid),
	.Z(RamWr)
);
defparam \r.WrLevel_RNIPG8RA[1] .INIT="0xFD00";
  LUT4 \r.RdAddr_RNIRKJ2Q[0]  (
	.A(RdAddr_2_0),
	.B(rdaddr7),
	.C(RdAddr[0]),
	.D(RdAddr[1]),
	.Z(rdaddr7_1_0)
);
defparam \r.RdAddr_RNIRKJ2Q[0] .INIT="0x8000";
  LUT4 \r.RdAddr_RNIRKJ2Q_0[0]  (
	.A(RdAddr_2_0),
	.B(rdaddr7),
	.C(RdAddr[0]),
	.D(RdAddr[1]),
	.Z(N_159)
);
defparam \r.RdAddr_RNIRKJ2Q_0[0] .INIT="0x4CCC";
  LUT4 \r.RdLevel_RNO_0[5]  (
	.A(rdaddr7),
	.B(RdLevel[5]),
	.C(RdUp),
	.D(GND),
	.Z(RdLevel_axb_5)
);
defparam \r.RdLevel_RNO_0[5] .INIT="0xC6C6";
  LUT4 \r.RdAddr_RNO[4]  (
	.A(reset),
	.B(RdAddr_4[4]),
	.C(GND),
	.D(GND),
	.Z(RdAddr_3)
);
defparam \r.RdAddr_RNO[4] .INIT="0x4444";
  LUT4 \r.RdAddr_RNO[0]  (
	.A(reset),
	.B(RdAddr_4[0]),
	.C(GND),
	.D(GND),
	.Z(RdAddr_2)
);
defparam \r.RdAddr_RNO[0] .INIT="0x4444";
  LUT4 \r.RdAddr_RNO[1]  (
	.A(reset),
	.B(RdAddr_4[1]),
	.C(GND),
	.D(GND),
	.Z(RdAddr_1)
);
defparam \r.RdAddr_RNO[1] .INIT="0x4444";
  LUT4 \r.RdAddr_RNO[2]  (
	.A(reset),
	.B(RdAddr_4[2]),
	.C(GND),
	.D(GND),
	.Z(RdAddr_0)
);
defparam \r.RdAddr_RNO[2] .INIT="0x4444";
  LUT4 \r.RdAddr_RNO[3]  (
	.A(reset),
	.B(RdAddr_4[3]),
	.C(GND),
	.D(GND),
	.Z(RdAddr_scalar)
);
defparam \r.RdAddr_RNO[3] .INIT="0x4444";
  LUT4 \r.WrAddr_RNO[4]  (
	.A(WrAddr[4]),
	.B(WrAddr_cry[3]),
	.C(reset),
	.D(WrAddre_0),
	.Z(WrAddr_0)
);
defparam \r.WrAddr_RNO[4] .INIT="0xAA06";
// @20:135
  CCU2_B \un1_r.RdAddr_cry_3_c_0  (
	.CIN(RdAddr_cry_2),
	.A0(rdaddr7_1_0),
	.A1(RdAddr[4]),
	.B0(RdAddr[3]),
	.B1(GND),
	.C0(GND),
	.C1(rdaddr7_1_0),
	.COUT(RdAddr_cry_3_c_0_COUT),
	.S0(RdAddr_4[3]),
	.S1(RdAddr_4[4])
);
defparam \un1_r.RdAddr_cry_3_c_0 .INIT0="0x1144";
defparam \un1_r.RdAddr_cry_3_c_0 .INIT1="0x050A";
// @20:135
  CCU2_B \un1_r.RdAddr_cry_1_c_0  (
	.CIN(RdAddr_cry_0),
	.A0(rdaddr7_1_0),
	.A1(rdaddr7_1_0),
	.B0(RdAddr[1]),
	.B1(RdAddr[2]),
	.C0(GND),
	.C1(GND),
	.COUT(RdAddr_cry_2),
	.S0(RdAddr_4[1]),
	.S1(RdAddr_4[2])
);
defparam \un1_r.RdAddr_cry_1_c_0 .INIT0="0x1144";
defparam \un1_r.RdAddr_cry_1_c_0 .INIT1="0x1144";
// @20:135
  CCU2_B \un1_r.RdAddr_cry_0_c_0  (
	.CIN(),
	.A0(GND),
	.A1(rdaddr7_1_0),
	.B0(N_159),
	.B1(RdAddr[0]),
	.C0(N_159),
	.C1(GND),
	.COUT(RdAddr_cry_0),
	.S0(N_1),
	.S1(RdAddr_4[0])
);
defparam \un1_r.RdAddr_cry_0_c_0 .INIT0="0xC33C";
defparam \un1_r.RdAddr_cry_0_c_0 .INIT1="0x1144";
  CCU2_B \r.WrLevel_RNO[5]  (
	.CIN(WrLevel_1_cry_4),
	.A0(WrLevel_1_axb_5),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_2),
	.S0(WrLevel_RNO_S0[5]),
	.S1(N_3)
);
defparam \r.WrLevel_RNO[5] .INIT0="0x55AA";
defparam \r.WrLevel_RNO[5] .INIT1="0xC33C";
// @20:176
  CCU2_B \un1_r.WrLevel_1_cry_3_0_c_0  (
	.CIN(WrLevel_1_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(WrLevel[3]),
	.B1(WrLevel[4]),
	.C0(WrLevel_1_cry_3_0_c_0_RNO),
	.C1(WrLevel_1_cry_3_0_c_0_RNO_0),
	.COUT(WrLevel_1_cry_4),
	.S0(WrLevel_1_cry_3_0_c_0_S0),
	.S1(WrLevel_1_cry_3_0_c_0_S1)
);
defparam \un1_r.WrLevel_1_cry_3_0_c_0 .INIT0="0xC33C";
defparam \un1_r.WrLevel_1_cry_3_0_c_0 .INIT1="0xC33C";
// @20:176
  CCU2_B \un1_r.WrLevel_1_cry_1_0_c_0  (
	.CIN(WrLevel_1_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(WrLevel[1]),
	.B1(WrLevel[2]),
	.C0(WrLevel_1_cry_1_0_c_0_RNO),
	.C1(WrLevel_1_cry_1_0_c_0_RNO_0),
	.COUT(WrLevel_1_cry_2),
	.S0(WrLevel_1_cry_1_0_c_0_S0),
	.S1(WrLevel_1_cry_1_0_c_0_S1)
);
defparam \un1_r.WrLevel_1_cry_1_0_c_0 .INIT0="0xC33C";
defparam \un1_r.WrLevel_1_cry_1_0_c_0 .INIT1="0xC33C";
// @20:176
  CCU2_B \un1_r.WrLevel_1_cry_0_c_0  (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(GND),
	.B1(WrLevel_1_cry_0_c_0_RNO),
	.C0(GND),
	.C1(WrLevel[0]),
	.COUT(WrLevel_1_cry_0),
	.S0(N_4),
	.S1(WrLevel_1_cry_0_c_0_S1)
);
defparam \un1_r.WrLevel_1_cry_0_c_0 .INIT0="0xC33C";
defparam \un1_r.WrLevel_1_cry_0_c_0 .INIT1="0xC33C";
  CCU2_B \r.RdLevel_RNO[5]  (
	.CIN(RdLevel_cry_4),
	.A0(RdLevel_axb_5),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_5),
	.S0(RdLevel_RNO_S0[5]),
	.S1(N_6)
);
defparam \r.RdLevel_RNO[5] .INIT0="0x55AA";
defparam \r.RdLevel_RNO[5] .INIT1="0xC33C";
// @20:176
  CCU2_B \un1_r.RdLevel_cry_3_c_0  (
	.CIN(RdLevel_cry_2),
	.A0(GND),
	.A1(GND),
	.B0(RdLevel_cry_3_c_0_RNO),
	.B1(RdLevel_cry_3_c_0_RNO_0),
	.C0(RdLevel[3]),
	.C1(RdLevel[4]),
	.COUT(RdLevel_cry_4),
	.S0(RdLevel_cry_3_c_0_S0),
	.S1(RdLevel_cry_3_c_0_S1)
);
defparam \un1_r.RdLevel_cry_3_c_0 .INIT0="0xC33C";
defparam \un1_r.RdLevel_cry_3_c_0 .INIT1="0xC33C";
// @20:176
  CCU2_B \un1_r.RdLevel_cry_1_c_0  (
	.CIN(RdLevel_cry_0),
	.A0(GND),
	.A1(GND),
	.B0(RdLevel_cry_1_c_0_RNO),
	.B1(RdLevel_cry_1_c_0_RNO_0),
	.C0(RdLevel[1]),
	.C1(RdLevel[2]),
	.COUT(RdLevel_cry_2),
	.S0(RdLevel_cry_1_c_0_S0),
	.S1(RdLevel_cry_1_c_0_S1)
);
defparam \un1_r.RdLevel_cry_1_c_0 .INIT0="0xC33C";
defparam \un1_r.RdLevel_cry_1_c_0 .INIT1="0xC33C";
// @20:176
  CCU2_B \un1_r.RdLevel_cry_0_c_0  (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(GND),
	.B1(RdLevel_cry_0_c_0_RNO),
	.C0(GND),
	.C1(RdLevel[0]),
	.COUT(RdLevel_cry_0),
	.S0(N_7),
	.S1(RdLevel_cry_0_c_0_S1)
);
defparam \un1_r.RdLevel_cry_0_c_0 .INIT0="0xC33C";
defparam \un1_r.RdLevel_cry_0_c_0 .INIT1="0xC33C";
// @20:174
  CCU2_B \r.WrAddr_RNIEDHVB[3]  (
	.CIN(WrAddr_cry[2]),
	.A0(GND),
	.A1(GND),
	.B0(WrAddr[3]),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_8),
	.S0(WrAddr_s[3]),
	.S1(WrAddr_cry[3])
);
defparam \r.WrAddr_RNIEDHVB[3] .INIT0="0xC33C";
defparam \r.WrAddr_RNIEDHVB[3] .INIT1="0xC33C";
// @20:174
  CCU2_B \r.WrAddr_RNIH0LV8[1]  (
	.CIN(WrAddr_cry[0]),
	.A0(GND),
	.A1(GND),
	.B0(WrAddr[1]),
	.B1(WrAddr[2]),
	.C0(GND),
	.C1(GND),
	.COUT(WrAddr_cry[2]),
	.S0(WrAddr_s[1]),
	.S1(WrAddr_s[2])
);
defparam \r.WrAddr_RNIH0LV8[1] .INIT0="0xC33C";
defparam \r.WrAddr_RNIH0LV8[1] .INIT1="0xC33C";
// @20:174
  CCU2_B \r.WrAddr_RNIQ9SV2[0]  (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(VCC),
	.B1(WrAddr[0]),
	.C0(VCC),
	.C1(GND),
	.COUT(WrAddr_cry[0]),
	.S0(N_9),
	.S1(WrAddr_s[0])
);
defparam \r.WrAddr_RNIQ9SV2[0] .INIT0="0xC33C";
defparam \r.WrAddr_RNIQ9SV2[0] .INIT1="0xC33C";
// @20:187
  olo_base_ram_sdp_32_8_false_1_auto_RBW_false i_ram (
	.uart_tx_data(uart_tx_data[7:0]),
	.WrAddr(WrAddr[4:0]),
	.RdAddr_4(RdAddr_4[4:0]),
	.uart_rx_data(uart_rx_data[7:0]),
	.RamWr(RamWr),
	.clk_c(clk_c)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* olo_base_fifo_sync_work_top_rtl_0layer0 */

module top (
  clk,
  rstn,
  uart_txd,
  uart_rxd,
  us_trig,
  us_echo,
  quad1,
  quad2,
  pwm_mot1,
  pwm_mot2,
  led_r,
  led_g,
  led_b
)
;
input clk ;
input rstn ;
output uart_txd ;
input uart_rxd ;
output us_trig ;
input us_echo ;
input [1:0] quad1 ;
input [1:0] quad2 ;
output [1:0] pwm_mot1 ;
output [1:0] pwm_mot2 ;
output led_r ;
output led_g ;
output led_b ;
wire clk ;
wire rstn ;
wire uart_txd ;
wire uart_rxd ;
wire us_trig ;
wire us_echo ;
wire led_r ;
wire led_g ;
wire led_b ;
wire [7:0] uart_tx_data;
wire [7:0] uart_rx_data;
wire [23:0] counter;
wire [23:0] counter_s;
wire [22:0] \carry_pack.counter_cry ;
(* async_reg=1 , preserve=1 , dont_merge=1 , shreg_extract="no" *)wire reset ;
wire uart_tx_ready ;
wire uart_rx_valid ;
wire VCC ;
wire GND ;
wire clk_c ;
wire rstn_c ;
wire uart_rxd_c ;
wire uart_txd_c ;
wire uart_tx_valid_0 ;
wire rstn_c_i ;
wire N_1 ;
wire N_2 ;
wire N_3 ;
// @21:106
  FD1P3DZ \counter_Z[23]  (
	.Q(counter[23]),
	.D(counter_s[23]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[22]  (
	.Q(counter[22]),
	.D(counter_s[22]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[21]  (
	.Q(counter[21]),
	.D(counter_s[21]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[20]  (
	.Q(counter[20]),
	.D(counter_s[20]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[19]  (
	.Q(counter[19]),
	.D(counter_s[19]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[18]  (
	.Q(counter[18]),
	.D(counter_s[18]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[17]  (
	.Q(counter[17]),
	.D(counter_s[17]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[16]  (
	.Q(counter[16]),
	.D(counter_s[16]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[15]  (
	.Q(counter[15]),
	.D(counter_s[15]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[14]  (
	.Q(counter[14]),
	.D(counter_s[14]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[13]  (
	.Q(counter[13]),
	.D(counter_s[13]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[12]  (
	.Q(counter[12]),
	.D(counter_s[12]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[11]  (
	.Q(counter[11]),
	.D(counter_s[11]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[10]  (
	.Q(counter[10]),
	.D(counter_s[10]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[9]  (
	.Q(counter[9]),
	.D(counter_s[9]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[8]  (
	.Q(counter[8]),
	.D(counter_s[8]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[7]  (
	.Q(counter[7]),
	.D(counter_s[7]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[6]  (
	.Q(counter[6]),
	.D(counter_s[6]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[5]  (
	.Q(counter[5]),
	.D(counter_s[5]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[4]  (
	.Q(counter[4]),
	.D(counter_s[4]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[3]  (
	.Q(counter[3]),
	.D(counter_s[3]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[2]  (
	.Q(counter[2]),
	.D(counter_s[2]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[1]  (
	.Q(counter[1]),
	.D(counter_s[1]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
// @21:106
  FD1P3DZ \counter_Z[0]  (
	.Q(counter[0]),
	.D(counter_s[0]),
	.CK(clk_c),
	.CD(GND),
	.SP(VCC)
);
  LUT4 rstn_ibuf_RNIC1JK6 (
	.A(rstn_c),
	.B(GND),
	.C(GND),
	.D(GND),
	.Z(rstn_c_i)
);
defparam rstn_ibuf_RNIC1JK6.INIT="0x5555";
// @21:14
  IB clk_ibuf (
	.I(clk),
	.O(clk_c)
);
// @21:15
  IB rstn_ibuf (
	.I(rstn),
	.O(rstn_c)
);
// @21:18
  IB uart_rxd_ibuf (
	.I(uart_rxd),
	.O(uart_rxd_c)
);
// @21:17
  OB uart_txd_obuf (
	.I(uart_txd_c),
	.O(uart_txd)
);
// @21:20
  OB us_trig_obuf (
	.I(GND),
	.O(us_trig)
);
// @21:26
  OB \pwm_mot1_obuf[0]  (
	.I(GND),
	.O(pwm_mot1[0])
);
// @21:26
  OB \pwm_mot1_obuf[1]  (
	.I(GND),
	.O(pwm_mot1[1])
);
// @21:27
  OB \pwm_mot2_obuf[0]  (
	.I(GND),
	.O(pwm_mot2[0])
);
// @21:27
  OB \pwm_mot2_obuf[1]  (
	.I(GND),
	.O(pwm_mot2[1])
);
// @21:29
  OBZ_B led_r_obuft (
	.I(GND),
	.T_N(counter[23]),
	.O(led_r)
);
// @21:30
  OBZ_B led_g_obuft (
	.I(GND),
	.T_N(counter[23]),
	.O(led_g)
);
// @21:31
  OBZ_B led_b_obuft (
	.I(GND),
	.T_N(counter[23]),
	.O(led_b)
);
  CCU2_B \counter_RNO[23]  (
	.CIN(\carry_pack.counter_cry [22]),
	.A0(counter[23]),
	.A1(GND),
	.B0(GND),
	.B1(GND),
	.C0(GND),
	.C1(GND),
	.COUT(N_1),
	.S0(counter_s[23]),
	.S1(N_2)
);
defparam \counter_RNO[23] .INIT0="0x55AA";
defparam \counter_RNO[23] .INIT1="0xC33C";
// @21:106
  CCU2_B \counter_cry_c_0[21]  (
	.CIN(\carry_pack.counter_cry [20]),
	.A0(GND),
	.A1(GND),
	.B0(counter[21]),
	.B1(counter[22]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [22]),
	.S0(counter_s[21]),
	.S1(counter_s[22])
);
defparam \counter_cry_c_0[21] .INIT0="0x9966";
defparam \counter_cry_c_0[21] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[19]  (
	.CIN(\carry_pack.counter_cry [18]),
	.A0(GND),
	.A1(GND),
	.B0(counter[19]),
	.B1(counter[20]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [20]),
	.S0(counter_s[19]),
	.S1(counter_s[20])
);
defparam \counter_cry_c_0[19] .INIT0="0x9966";
defparam \counter_cry_c_0[19] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[17]  (
	.CIN(\carry_pack.counter_cry [16]),
	.A0(GND),
	.A1(GND),
	.B0(counter[17]),
	.B1(counter[18]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [18]),
	.S0(counter_s[17]),
	.S1(counter_s[18])
);
defparam \counter_cry_c_0[17] .INIT0="0x9966";
defparam \counter_cry_c_0[17] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[15]  (
	.CIN(\carry_pack.counter_cry [14]),
	.A0(GND),
	.A1(GND),
	.B0(counter[15]),
	.B1(counter[16]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [16]),
	.S0(counter_s[15]),
	.S1(counter_s[16])
);
defparam \counter_cry_c_0[15] .INIT0="0x9966";
defparam \counter_cry_c_0[15] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[13]  (
	.CIN(\carry_pack.counter_cry [12]),
	.A0(GND),
	.A1(GND),
	.B0(counter[13]),
	.B1(counter[14]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [14]),
	.S0(counter_s[13]),
	.S1(counter_s[14])
);
defparam \counter_cry_c_0[13] .INIT0="0x9966";
defparam \counter_cry_c_0[13] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[11]  (
	.CIN(\carry_pack.counter_cry [10]),
	.A0(GND),
	.A1(GND),
	.B0(counter[11]),
	.B1(counter[12]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [12]),
	.S0(counter_s[11]),
	.S1(counter_s[12])
);
defparam \counter_cry_c_0[11] .INIT0="0x9966";
defparam \counter_cry_c_0[11] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[9]  (
	.CIN(\carry_pack.counter_cry [8]),
	.A0(GND),
	.A1(GND),
	.B0(counter[9]),
	.B1(counter[10]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [10]),
	.S0(counter_s[9]),
	.S1(counter_s[10])
);
defparam \counter_cry_c_0[9] .INIT0="0x9966";
defparam \counter_cry_c_0[9] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[7]  (
	.CIN(\carry_pack.counter_cry [6]),
	.A0(GND),
	.A1(GND),
	.B0(counter[7]),
	.B1(counter[8]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [8]),
	.S0(counter_s[7]),
	.S1(counter_s[8])
);
defparam \counter_cry_c_0[7] .INIT0="0x9966";
defparam \counter_cry_c_0[7] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[5]  (
	.CIN(\carry_pack.counter_cry [4]),
	.A0(GND),
	.A1(GND),
	.B0(counter[5]),
	.B1(counter[6]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [6]),
	.S0(counter_s[5]),
	.S1(counter_s[6])
);
defparam \counter_cry_c_0[5] .INIT0="0x9966";
defparam \counter_cry_c_0[5] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[3]  (
	.CIN(\carry_pack.counter_cry [2]),
	.A0(GND),
	.A1(GND),
	.B0(counter[3]),
	.B1(counter[4]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [4]),
	.S0(counter_s[3]),
	.S1(counter_s[4])
);
defparam \counter_cry_c_0[3] .INIT0="0x9966";
defparam \counter_cry_c_0[3] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[1]  (
	.CIN(\carry_pack.counter_cry [0]),
	.A0(GND),
	.A1(GND),
	.B0(counter[1]),
	.B1(counter[2]),
	.C0(GND),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [2]),
	.S0(counter_s[1]),
	.S1(counter_s[2])
);
defparam \counter_cry_c_0[1] .INIT0="0x9966";
defparam \counter_cry_c_0[1] .INIT1="0x9966";
// @21:106
  CCU2_B \counter_cry_c_0[0]  (
	.CIN(),
	.A0(GND),
	.A1(GND),
	.B0(VCC),
	.B1(counter[0]),
	.C0(VCC),
	.C1(GND),
	.COUT(\carry_pack.counter_cry [0]),
	.S0(N_3),
	.S1(counter_s[0])
);
defparam \counter_cry_c_0[0] .INIT0="0xC33C";
defparam \counter_cry_c_0[0] .INIT1="0x9966";
// @21:54
  olo_base_reset_gen_work_top_rtl_0layer0 reset_gen_inst (
	.reset(reset),
	.rstn_c_i(rstn_c_i),
	.clk_c(clk_c)
);
// @21:65
  \olo_intf_uart_12000000.000000_230400.000000_8_1_none  uart_inst (
	.uart_tx_data(uart_tx_data[7:0]),
	.uart_rx_data(uart_rx_data[7:0]),
	.uart_rxd_c(uart_rxd_c),
	.uart_tx_valid_0(uart_tx_valid_0),
	.reset(reset),
	.uart_tx_ready(uart_tx_ready),
	.uart_rx_valid(uart_rx_valid),
	.clk_c(clk_c),
	.uart_txd_c(uart_txd_c)
);
// @21:88
  olo_base_fifo_sync_work_top_rtl_0layer0 olo_base_fifo_sync_inst (
	.uart_rx_data(uart_rx_data[7:0]),
	.uart_tx_data(uart_tx_data[7:0]),
	.uart_tx_valid_0(uart_tx_valid_0),
	.uart_rx_valid(uart_rx_valid),
	.uart_tx_ready(uart_tx_ready),
	.reset(reset),
	.clk_c(clk_c)
);
  VLO GND_cZ (
	.Z(GND)
);
  VHI VCC_cZ (
	.Z(VCC)
);
endmodule /* top */

